
#header-section {
    background: url('../images/header.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#header-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

#section-1 {
    height: 185vh;
}

#section-2 {
    background: url('../images/image.jpg') no-repeat;
    background-size: cover;
    height: 70vh;

}

#section-3 {
    background: url('../images/background.png') no-repeat center center;
    background-size: cover;
    height: 55vh;
    /*width: 100%;*/
}

#section-4 {
    height: 70vh;
}
#footer-section {
    background-color: #dadcda;
    overflow-x: hidden;
    height: 30vh;
    display: flex;
    /*justify-content: center; !* Centers horizontally *!*/
    align-items: center; /* Centers vertically */
    padding: 0 10rem; /* Adds padding on the left and right */


}

#section-1, #section-2, #section-3, #section-4 {
    padding: 2rem 0;
}

/*.header-section p {*/
/*    font-size: 1.25rem;*/
/*    margin-bottom: 1.5rem;*/
/*}*/

.btn-custom {
    background-color: #60eed8;
    border: none;
    border-radius: 50px;
    width: 100%;
    height: 4rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
}

.custom-container{
    padding-left: 10rem;
}